.canvasNormal{
    position: relative;
    background-color: #000000;
}
.wrapperNormal{
    width: 900px;
    margin: auto;
}

.canvasFullWindow{
    position: absolute;
    background-color: #000000;
    top: 0px;
    left: 0px;
}

.wrapperFullWindow{
}