body {
    background-color: #222;
    height: 100%;
}

.canvas-full-window{
    position: absolute;
    top: 0;
    left: 0;
}

.block {
    position: absolute;
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 20px;*/
    /*background-color: green;*/
    /*border: 2px solid #ccc;*/
}

.nickname-form {
    background: #fff;
    /*max-width: 330px;*/
    padding: 15px;
    /*margin: 0 auto;*/
}

.vertical-align {
    display: flex;
    align-items: center;
}